@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

* { font-family: 'Inter', sans-serif;}

.custom-r { border-right: 1px solid #e2e8f0;} 
.custom-b { border-bottom: 1px solid #e2e8f0;}
